# Backend Spring Boot Microservices Configuration
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgrespassword
POSTGRES_HOST=localhost
POSTGRES_PORT=5432
RABBITMQ_HOST=localhost
RABBITMQ_PORT=5672
JWT_SECRET=404E635266556A586E3272357538782F413F4428472B4B6250645367566B5970
